* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 80vh;
  background-color: rgb(20, 20, 20);
  color: rgb(20, 20, 20);
  display: flex;
  justify-content:center;
  align-items: center;
}

.container {
  max-width: 100%;
  padding: 0%;
}

.container .carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 1450px;
  padding-left: 60px;

}

.h1 {
  color: aliceblue;
  font-size: 25px;
  padding-left: 60px;
}

.container .carousel::-webkit-scrollbar {
  display: none;
}

.container .carousel .item {
  background-color:rgb(20, 20, 20);
  margin: 0px;
  padding: 2px;
  width: 280px;
  border-radius: 16px;
  flex: none;
}

.container .carousel .item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.container .carousel .item .image2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.container .buttons {
  width:auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 60PX;
}


.container .buttons button {
  background-color: rgb(48, 48, 48);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.container .buttons button:first-child img {
  transform: rotate(180deg);
}